/*  your css code here. If applicable */
.main-container{
	background-color: #f5f5f5;
	padding: 20px;
}

.tetimonial{
	background-color: white;
	padding:10px;
	margin-block:10px
}

.author{
	text-align:right;
	font-style:italic;
}